@model Post

@{
	var post = Model;
}

<h2>@post.Title</h2>

<div class="container">
	<div class="pad">
		<div class="image">
			<img class="post-link-image" src="@post.ImageSrc">
		</div>
		<div>
			<p>
				@post.Description
			</p>
		</div>
	</div>
</div>