@{
    var post = new Post(
        imageSrc: "https://picsum.photos/id/10/200/300",
        title: "Post title",
        description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!"
    );
}

<p>Funziona</p>