@model Post[]

@{
    ViewData["Title"] = "My posts";
    var posts = Model;
}

<h2>My posts</h2>

<div class="pad">
    <a href="@Url.Action("Create", "Post")">New post</a>
</div>

@if (posts.Length is 0)
{
    <p>No post to display :\</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                @await Html.PartialAsync("_PostRow", post);
            }
        </tbody>
    </table>
}
