@model Post

@{
	var post = Model;
}

<h2>Edit post</h2>

<div class="container">
	<div class="pad">
		<form method="post" asp-controller="Post" asp-action="Update" asp-route-id="@post.Id" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<div class="form-field">
				<label asp-for="Title">Title</label>
				<input asp-for="Title"/>
				<span asp-validation-for="Title" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Description">Description</label>
				<textarea asp-for="Description"></textarea>
				<span asp-validation-for="Description" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="ImageUrl">Image source</label>
				<input asp-for="ImageUrl"/>
				<span asp-validation-for="ImageUrl" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="ImageFormFile">Image file</label>
				<input type="file" asp-for="ImageFormFile"/>
				<span asp-validation-for="ImageFormFile" class="text error"></span>
			</div>
			<button type="submit">Save</button>
		</form>
	</div>
</div>