@{
    ViewData["Title"] = "bo";
    //Layout = null;
}

<table>
    <tr>
        <td>0</td>
        <td class="image"><img class="post-link-image" src="https://picsum.photos/id/10/200/300"></td>
        <td class="title">Post title</td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
    </tr>
    <tr>
        <td>1</td>
        <td class="image"><img class="post-link-image" src="~/img/fondo-pag-speciali.jpg"></td>
        <td class="title">Post title 1</td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
    </tr>
</table>