html {
    font-size: 14px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0;
}

header {
    box-shadow: grey 0 0 5px;
    background-color: whitesmoke;
    padding: 16px;
}

.pad {
    padding: 16px;
}

.text.center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.column.center {
    align-items: center;
}

.container {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > * {
    max-width: 600px;
    border: 1px solid grey;
    border-radius: 4px;
}